POSTGRES_USER=                                                                                                                                                       
POSTGRES_PASSWORD=
POSTGRES_DB=                                                                                                                                                         
DATABASE_URL=postgresql://user:password@db:5432/dbname
REDIS_URL=redis://redis:6379/0                                                                                                                                       
 
APP_ENV=development                                                                                                                                                  
SECRET_KEY=     
THRESHOLD_LAYAK=0.5
